<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret</title>
  </head>
  <body>
    <% if(locals.secret){ %>
    <h2>Here's your secret</h2>
    <p><%= secret %></p>
    <% }else { %>
    <h2>Sorry, we couldn't generate a secret for you.</h2>
    <p>Try again later.</p>
    <% } %>
  </body>
</html>
